@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 57 31% 98%;
    --foreground: 57 79% 3%;
    --muted: 27 23% 86%;
    --muted-foreground: 27 13% 33%;
    --popover: 57 31% 97%;
    --popover-foreground: 57 79% 2%;
    --card: 57 31% 97%;
    --card-foreground: 57 79% 2%;
    --border: 57 9% 88%;
    --input: 57 9% 88%;
    --primary: 57 33% 61%;
    --primary-foreground: 57 33% 1%;
    --secondary: 27 33% 61%;
    --secondary-foreground: 27 33% 1%;
    --accent: 87 33% 61%;
    --accent-foreground: 87 33% 1%;
    --ring: 57 33% 61%;
    --chart-1: 57 33% 61%;
    --chart-2: 27 33% 61%;
    --chart-3: 87 33% 61%;
    --chart-4: 27 33% 64%;
    --chart-5: 57 36% 61%;
    --radius: 0.5rem;

    --destructive: 6 54% 73%;
    --destructive-foreground: 6 54% 13%;
    
    --success: 137 54% 73%;
    --success-foreground: 137 54% 13%;
    
    --warning: 33 54% 73%;
    --warning-foreground: 33 54% 13%;
    
    --info: 204 54% 73%;
    --info-foreground: 204 54% 13%;
    
    --sidebar-background: 0 0% 98%;
 
    --sidebar-foreground: 240 5.3% 26.1%;
 
    --sidebar-primary: 240 5.9% 10%;
 
    --sidebar-primary-foreground: 0 0% 98%;
 
    --sidebar-accent: 240 4.8% 95.9%;
 
    --sidebar-accent-foreground: 240 5.9% 10%;
 
    --sidebar-border: 220 13% 91%;
 
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
 
  .dark {
    --background: 57 40% 1%;
    --foreground: 57 11% 97%;
    --muted: 27 23% 14%;
    --muted-foreground: 27 13% 67%;
    --popover: 57 40% 2%;
    --popover-foreground: 57 11% 98%;
    --card: 57 40% 2%;
    --card-foreground: 57 11% 98%;
    --border: 57 9% 13%;
    --input: 57 9% 13%;
    --primary: 57 33% 61%;
    --primary-foreground: 57 33% 1%;
    --secondary: 27 33% 61%;
    --secondary-foreground: 27 33% 1%;
    --accent: 87 33% 61%;
    --accent-foreground: 87 33% 1%;
    --destructive: 20 98% 54%;
    --destructive-foreground: 0 0% 0%;
    --ring: 57 33% 61%;
    --chart-1: 57 33% 61%;
    --chart-2: 27 33% 61%;
    --chart-3: 87 33% 61%;
    --chart-4: 27 33% 64%;
    --chart-5: 57 36% 61%;

    --destructive: 8 54% 22%;
    --destructive-foreground: 8 54% 82%;
    --success: 121 54% 22%;
    --success-foreground: 121 54% 82%;
    --warning: 17 54% 22%;
    --warning-foreground: 17 54% 82%;
    --info: 207 54% 22%;
    --info-foreground: 207 54% 82%;
 
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}